.site-footer {
    background: $footer-color;
    color: $base-color;

    social {
        padding: 0.5em 0 0.5em 1em;
    }

    a {
        color: $header-color;
    }
}

@media (max-width: 767px) {
    .site-footer {
        flex-direction: column;

        .social {
            padding-left: 0;
        }

        a {
            color: $header-color;
        }
    }
}
