.site-header {
    .site-header a,
    a:visited {
        color: $footer-color;
    }
}


.title * {
    color: #111;
    text-decoration: none;
    text-align: left;
}

.title p {
    font-style: italic;
    text-align: left;
}

.logo * {
    display: block;
    padding: 0;
    margin: 0;
}

.logo {
    padding-top: 1rem;
    padding-right: 3rem;
    padding-left: 1rem;

    img {
        width: 4em;
    }
}

.logo+.title h1 {
    margin: 0.8rem 0;
}

.logo+.title.tagline h1 {
    margin: 0;
}

@media (max-width: 767px) {
    .header-items {
        flex-direction: row;
    }
}
