.landingpage .kmom-box {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% 60% 20%;
    height: 250px;
    background-color: $light-base-color;
    border: 1px solid $footer-color;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.kmom-box.project {
    grid-column: span 3;
}

.box-header {
    height: 50px;
    background-color: $header-color;
    grid-column: span 3;
    grid-row: 1 / 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    h2 {
        text-align: center;
        color: $light-base-color;
    }
}

.box-main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    p {
        white-space: pre-line;
        padding-left: 1rem;
    }
}

.box-footer {
    position: relative;
    grid-column: 3 / 3;
    grid-row: 3 / 3;
    
    img {
        width: 50px;
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
    }
}

@media (max-width: 767px) {
    .landingpage .kmom-box {
        display: grid;
        grid-column: span 3;
    }
}
