.container img {
    width: 5em;
    border-radius: 50%;
    margin-left: 40%;
}

.main {
    width: 80%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: top;
    background-color: $base-color;
}

@media (max-width: 767px) {
    .main {
        width: 90%;
        background-image: none;
    }
}
