.container img {
    width: 5em;
    border-radius: 50%;
    margin-left: 40%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: top;
    background-image: url('../../../assets/img/background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: $base-color;
}

@media (max-width: 767px) {
    .main {
        background-image: none;
    }
}
