.container img {
    width: 5em;
    border-radius: 50%;
    margin: 0 auto;
}

.main {
    width: 80%;
    margin: 1em auto;
    background-color: $base-color;
}

@media (max-width: 767px) {
    .main {
        width: 90%;
        background-image: none;
    }
}
