.active {
    background-color: $base-color;
}

.nav {
    padding: 3rem 0;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    li {
        padding: 0.3rem;
        display: inline;
        clear: both;
        border-radius: 10px;
    }

    li:hover {
        background-color: $base-color;
    }

    a {
        text-decoration: none;
        padding: 0.5rem;
    }

    a:hover {
        text-decoration: none;
    }
}

/* Small devices */

@media (max-width: 767px) {
    .active {
        background-color: $header-color;
    }

    .nav {
        padding: 0;
        z-index: 1;
    }

    .nav ul {
        width: 50%;
        padding-left: 0;

        li {
            padding: 0.3rem;
            display: inline;
            clear: both;
        }

        li:hover {
            background-color: $header-color; 
        }
    
        a {
            display: inline;
            padding: 0.5rem 0;
        }

    }
}
