.nav {
    background-color: $footer-color;
    border-radius: 10px;
    height: 6em;
}

.nav-toggle {
    display: none;
    color: $footer-color;
}

.hidden {
    display: none !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0 none;
}

.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.nav ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    li {
        display: inline;
        margin-left: 0;
        text-align: center;
        padding: 1em;
    }
}

.nav-icon {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        color: $footer-text-color;
    }
}

.navbar-active {
    p {
        color: $link-color;
    }
}

@media (max-width: 767px) {
    .nav {
        height: auto;
        clear: both;
        padding: 0;
        background-color: transparent;
    }

    .nav ul {
        padding-bottom: 1em;
        flex-direction: column;
    }

    .nav ul li {
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
        background-color: $footer-color;
        width: 100%;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }
    
    .js .nav-toggle>* {
        vertical-align: middle;
    }
}
