.kmom-page {
    display: grid;
    grid-template-columns: 20% 1fr;
    overflow: auto;

    img {
        max-width: 50%;
        margin: 0 auto;
    }

    .screenshots {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .page-screenshots {
        width: 60%;
        display: flex;
        flex-direction: column;
    }

    .page-screenshots:hover {
        transform: scale(2.5); 
    }

    .page-analysis {
        width: 40%;
        display: flex;
        flex-direction: column;
    }

    .page-analysis img {
        margin-left: 0;
    }

    .screenshot {
        margin: 1rem;
    }

    .left {
        float: left;
        width: 250px;
        height: 150px;
        margin-top: 0.5rem;
    }

    .right {
        width: 100px;
        height: 200px;
        clear: left;
    }

    hr {
        display: block;
    }
}

h1 {
    text-align: center;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    margin-top: 0;
    padding-top: 0;
}

.sidebar {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    padding-top: 2rem;
    z-index: 3;

    a {
        display: block;
        text-align: center;
        text-decoration: none;
        padding-top: 0.5em;
        width: 100%;
        height: 100%;
        color: $main-text-color;
    }

    a:visited {
        color: $main-text-color;
    }

    a:hover {
        color: $link-hover;
    }
    
    li {
        width: 50%;
        min-width: 100px;
        height: 2em;
        margin: 1rem auto;
        padding: 0;
        border-radius: 10px;
    }

    li:hover {
        background-color: $footer-color;
    }
}

.sidebar .active {
    background-color: $footer-color;
    color: $link-hover;

    a {
        color: $link-hover;
    }
} 

.kmom-content {
    grid-column: 2 / 2;
    grid-row: 2 / 2;

    h1 {
        padding-top: 0;
        margin-top: 0;
    }

    img,
    embed,
    object,
    video {
        max-width: 100%;
        margin: 0 auto;
    }

    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }
    
    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 767px) {
    .kmom-page {
        display: grid;
        grid-template-columns: 2% 96% 2%;

        .screenshots {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .page-screenshots {
            width: 100%;
        }
    
        .page-analysis {
            width: 100%;
            
            img,
            table {
                margin: 0 auto;
            }
        }
    } 
    
    .kmom-content {
        grid-column: 2 / 2;
        grid-row: 1 / 1;
    
        h1 {
            padding-top: 0;
            margin-top: 0;
        }
    }

    .sidebar {
        display: none;
    }
}
