
@import '../../node_modules/normalize.css/normalize';
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Poppins&display=swap');
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../shared/scss/base';
@import 'base';
@import 'layout';
@import './modules/nav';
@import './modules/header-content';
@import './modules/footer-content';
@import './modules/main-article';
@import './report';

.plane {
    width: 10%;
    position: absolute;
    top: 30%;
    left: 3em;
}

.flash-region {

    width: 100%;
    background-color: $base-color;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .flash-img {
        width: 50%;
        height: 100px;
        margin: 1rem auto;
    }
}



@media (max-width: 767px) {
    .plane {
        display: none;
    }

    .flash-region .flash-img {
        width: 100%;
        height: 100px;
        margin: 1rem;
    }
}
