@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../node_modules/normalize.css/normalize';
@import '../../shared/scss/base';

@import '../css/old';

body {
    position: relative;
}

.site-header {
    position: relative;

    .container {
        flex-direction: row;
    }
}

.curve {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #EDEAF8;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../../../assets/img/background.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.plane {
    width: 10%;
    position: absolute;
    top: 30%;
    left: 3em;
}

@media (max-width: 767px) {
    .plane {
        display: none;
    }

    .main {
        background-image: none;
    }
}
