@import './variables';
@import './base';

.plane {
    width: 10%;
    position: absolute;
    top: 30%;
    left: 3em;
}

@media (max-width: 600px) {
    .plane {
        display: none;
    }

    .footer p {
        padding: 1em 0;
    }
    
    .footer .social {
        padding: 0.5em 0 0.5em 1em;
    }
}
