$base-color: #30111e !default;
$light-base-color: #e3e6ea;
$header-color: #5d47c0 !default;
$footer-color: #30111e !default;
$nav-color: rgb(117, 117, 117) !default;
$link-color: #d3eb34;
$border-color: #403219;
$main-text-color: #474c52;
