$base-color: #192a40 !default;
$light-base-color: #192a40;
$header-color: #cc9327 !default;
$footer-color: #192a40 !default;
$footer-text-color: #e3e6ea;
$link-color: #cc9327;
$link-dark: #825e1b;
$link-hover: #cc9327;
$border-color: #e3e6ea;
$main-text-color: #e3e6ea;
