$base-color: #b4c0d0 !default;
$light-base-color: #e3e6ea;
$header-color: #55cd8f !default;
$footer-color: #192a40 !default;
$nav-color: rgb(117, 117, 117) !default;
$link-color: #cc9327;
$link-hover: #ccfee4;
$border-color: #403219;
$main-text-color: #474c52;
