$base-color: #30111e !default;
$light-base-color: #30111e;
$header-color: #cc9327 !default;
$footer-color: #30111e !default;
$link-color: #cc9327;
$link-hover: #cc9327;
$border-color: #403219;
$main-text-color: #e3e6ea;
